.about{
    background-color: rgb(253, 205, 253);
    height: auto;
    text-align: center;
    border-radius: 0px 66px;
  
}


@media screen and (max-width: 480px) {
    .about img{
        width: 10%;
    }
    .about h5{
        font-size: 5px;
    }
}